.main {
  font-family: "Inter";
  font-weight: 400;
  margin: 30px auto;
  max-width: 897px;
}

.list {
  margin-top: 5vh;
}

.list ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main ul li {
  display: flex;
  font-size: 1.4em;
  list-style: none;
}
.main ul li label {
  width: 95%;
}

a {
  max-width: 5px;
}

.form-check-input {
  margin-right: 1vw;
}

.form-check-input:checked + .form-check-label {
  text-decoration: line-through;
  color: tomato;
}

/*
.main ul li:nth-child(odd) {
  width: 1vw;
} */
